<table class="table"  data-ng-init="sengData('period300')">
     <thead>
         <tr>
             <th>
                 TIME
             </th>
             <th>
                 SUMMARY
             </th>
             <th>
                 MOVING AVERAGES
             </th>
             <th>
                 TECHNICAL INDICATORS
             </th>
         </tr>
     </thead>
     <tbody>
         <tr class="active" data-ng-repeat="seng_5 in seng_5s | orderBy: 'id' : 'reverse'">
             <th>
                 {{seng_5.created_on | date: 'h:mm a'}}
             </th>
             <td>
                 <button type="button" class="btn btn-success btn-xs" data-ng-if="seng_5.summary === 'buy'">{{seng_5.summary | uppercase}}</button>
                 <button type="button" class="btn btn-success btn-xs" data-ng-if="seng_5.summary === 'strong buy'">{{seng_5.summary | uppercase}}</button>
                 <button type="button" class="btn btn-danger btn-xs" data-ng-if="seng_5.summary === 'sell'">{{seng_5.summary | uppercase}}</button>
                 <button type="button" class="btn btn-danger btn-xs" data-ng-if="seng_5.summary === 'strong sell'">{{seng_5.summary | uppercase}}</button>
                 <button type="button" class="btn btn-default btn-xs" data-ng-if="seng_5.summary === 'neutral'">{{seng_5.summary | uppercase}}</button>
             </td>
             <td>
                 <button type="button" class="btn btn-success btn-xs" data-ng-if="seng_5.moving_averages === 'buy'">{{seng_5.moving_averages | uppercase}}</button>
                 <button type="button" class="btn btn-success btn-xs" data-ng-if="seng_5.moving_averages === 'strong buy'">{{seng_5.moving_averages | uppercase}}</button>
                 <button type="button" class="btn btn-danger btn-xs" data-ng-if="seng_5.moving_averages === 'sell'">{{seng_5.moving_averages | uppercase}}</button>
                 <button type="button" class="btn btn-danger btn-xs" data-ng-if="seng_5.moving_averages === 'strong sell'">{{seng_5.moving_averages | uppercase}}</button>
                 <button type="button" class="btn btn-default btn-xs" data-ng-if="seng_5.moving_averages === 'neutral'">{{seng_5.moving_averages | uppercase}}</button>
             </td>
             <td>
                 <button type="button" class="btn btn-success btn-xs" data-ng-if="seng_5.technical_indicators === 'buy'">{{seng_5.technical_indicators | uppercase}}</button>
                 <button type="button" class="btn btn-success btn-xs" data-ng-if="seng_5.technical_indicators === 'strong buy'">{{seng_5.technical_indicators | uppercase}}</button>
                 <button type="button" class="btn btn-danger btn-xs" data-ng-if="seng_5.technical_indicators === 'sell'">{{seng_5.technical_indicators | uppercase}}</button>
                 <button type="button" class="btn btn-danger btn-xs" data-ng-if="seng_5.technical_indicators === 'strong sell'">{{seng_5.technical_indicators | uppercase}}</button>
                 <button type="button" class="btn btn-default btn-xs" data-ng-if="seng_5.technical_indicators === 'neutral'">{{seng_5.technical_indicators | uppercase}}</button>
             </td>
         </tr>
     </tbody>
 </table>
