<table class="table" data-ng-init="sengData('period60')">
     <thead>
         <tr>
             <th>
                 TIME
             </th>
             <th>
                 MOVING AVERAGES
             </th>
             <th>
                 TECHNICAL INDICATORS
             </th>
             <th>
                 SUMMARY
             </th>
             <th>
                 VALUE
             </th>
             <th>
                 SIGNAL
             </th>
         </tr>
     </thead>
     <tbody>
       <tr class="active"  data-ng-repeat="seng_1 in seng_1s | orderBy: 'id' : 'reverse'">
           <th>
               {{seng_1.created_on | date: 'h:mm a'}}
           </th>
           <td>
               <button type="button" class="btn btn-success btn-xs" data-ng-if="seng_1.moving_averages === 'buy'">{{seng_1.moving_averages | uppercase}}</button>
               <button type="button" class="btn btn-success btn-xs" data-ng-if="seng_1.moving_averages === 'strong buy'">{{seng_1.moving_averages | uppercase}}</button>
               <button type="button" class="btn btn-danger btn-xs" data-ng-if="seng_1.moving_averages === 'sell'">{{seng_1.moving_averages | uppercase}}</button>
               <button type="button" class="btn btn-danger btn-xs" data-ng-if="seng_1.moving_averages === 'strong sell'">{{seng_1.moving_averages | uppercase}}</button>
               <button type="button" class="btn btn-default btn-xs" data-ng-if="seng_1.moving_averages === 'neutral'">{{seng_1.moving_averages | uppercase}}</button>
           </td>
           <td>
               <button type="button" class="btn btn-success btn-xs" data-ng-if="seng_1.technical_indicators === 'buy'">{{seng_1.technical_indicators | uppercase}}</button>
               <button type="button" class="btn btn-success btn-xs" data-ng-if="seng_1.technical_indicators === 'strong buy'">{{seng_1.technical_indicators | uppercase}}</button>
               <button type="button" class="btn btn-danger btn-xs" data-ng-if="seng_1.technical_indicators === 'sell'">{{seng_1.technical_indicators | uppercase}}</button>
               <button type="button" class="btn btn-danger btn-xs" data-ng-if="seng_1.technical_indicators === 'strong sell'">{{seng_1.technical_indicators | uppercase}}</button>
               <button type="button" class="btn btn-default btn-xs" data-ng-if="seng_1.technical_indicators === 'neutral'">{{seng_1.technical_indicators | uppercase}}</button>
           </td>
           <td>
               <button type="button" class="btn btn-success btn-xs" data-ng-if="seng_1.summary === 'buy'">{{seng_1.summary | uppercase}}</button>
               <button type="button" class="btn btn-success btn-xs" data-ng-if="seng_1.summary === 'strong buy'">{{seng_1.summary | uppercase}}</button>
               <button type="button" class="btn btn-danger btn-xs" data-ng-if="seng_1.summary === 'sell'">{{seng_1.summary | uppercase}}</button>
               <button type="button" class="btn btn-danger btn-xs" data-ng-if="seng_1.summary === 'strong sell'">{{seng_1.summary | uppercase}}</button>
               <button type="button" class="btn btn-default btn-xs" data-ng-if="seng_1.summary === 'neutral'">{{seng_1.summary | uppercase}}</button>
           </td>
           <td>
               <button type="button" class="btn btn-info btn-sm" data-ng-if="seng_1.value">{{seng_1.value}}</button>
           </td>
           <td>
               <button type="button" class="btn btn-success btn-xs" data-ng-if="seng_1.change_type === 'positive'">{{seng_1.change_type | uppercase}}</button>
               <button type="button" class="btn btn-danger btn-xs" data-ng-if="seng_1.change_type === 'negative'">{{seng_1.change_type | uppercase}}</button>
           </td>
       </tr>
     </tbody>
 </table>
