<section style="margin-top:100px;">
    <div class="container">
      <ul class="tabs nav navbar-nav navbar-left">
        <li>
            <a ui-sref-active="active" ui-sref="dax.daxperiod60">1 MINUTE</a>
        </li>
        <li>
            <a ui-sref-active="active" ui-sref="dax.daxperiod300" >5 MINUTE</a>
        </li>
        <li>
            <a ui-sref-active="active" ui-sref="dax.daxperiod900" >15 MINUTE</a>
        </li>
        <li>
            <a ui-sref-active="active" ui-sref="dax.daxperiod3600" >60 MINUTE</a>
        </li>
      </ul>
    </div>
    <div class="container" ui-view>
    </div>
  </section>
