<section style="margin-top:100px;">
    <div class="container">
        <ul class="tabs nav navbar-nav navbar-left">
            <li>
                <a ui-sref="dow.dowperiod60" class="active">1 MINUTE</a>
            </li>
            <li>
                <a ui-sref="dow.dowperiod300" >5 MINUTE</a>
            </li>
            <li>
                <a ui-sref="dow.dowperiod1500" >15 MINUTE</a>
            </li>
        </ul>
    </div>    
    <div class="container" ui-view>
        <!-- <div class="page-nation">
            <ul class="pagination pagination-large">
            <li class="disabled"><span><</span></li>
            <li class="active"><span>Today</span></li>
            <li><a href="#">Tomorrow</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">6</a></li>
            <li><a href="#">7</a></li>
            <li><a href="#">8</a></li>
            <li><a href="#">9</a></li>
            <li class="disabled"><span>...</span></li><li>
            <li><a rel="next" href="#">></a></li>
            </ul>
        </div> -->
    </div>
  </section>
