<section>
    <div class="container">
        <h4>1 MINUTE</h4>
       <table class="table">
            <thead>
                <tr>
                    <th>
                        TIME
                    </th>
                    <th>
                        SUMMARY
                    </th>
                    <th>
                        MOVING AVERAGES
                    </th>
                    <th>
                        TECHNICAL INDICATORS
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="active" data-ng-repeat="dax_1 in dax_1s | orderBy: 'id' : 'reverse'">
                    <th>
                        {{dax_1.created_on | date: 'h:mm a'}}
                    </th>
                    <td>
                        <button type="button" class="btn btn-success btn-xs" data-ng-if="dax_1.summary === 'buy'">{{dax_1.summary | uppercase}}</button>
                        <button type="button" class="btn btn-success btn-xs" data-ng-if="dax_1.summary === 'strong buy'">{{dax_1.summary | uppercase}}</button>
                        <button type="button" class="btn btn-danger btn-xs" data-ng-if="dax_1.summary === 'sell'">{{dax_1.summary | uppercase}}</button>
                        <button type="button" class="btn btn-danger btn-xs" data-ng-if="dax_1.summary === 'strong sell'">{{dax_1.summary | uppercase}}</button>
                        <button type="button" class="btn btn-default btn-xs" data-ng-if="dax_1.summary === 'neutral'">{{dax_1.summary | uppercase}}</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-success btn-xs" data-ng-if="dax_1.moving_averages === 'buy'">{{dax_1.moving_averages | uppercase}}</button>
                        <button type="button" class="btn btn-success btn-xs" data-ng-if="dax_1.moving_averages === 'strong buy'">{{dax_1.moving_averages | uppercase}}</button>
                        <button type="button" class="btn btn-danger btn-xs" data-ng-if="dax_1.moving_averages === 'sell'">{{dax_1.moving_averages | uppercase}}</button>
                        <button type="button" class="btn btn-danger btn-xs" data-ng-if="dax_1.moving_averages === 'strong sell'">{{dax_1.moving_averages | uppercase}}</button>
                        <button type="button" class="btn btn-default btn-xs" data-ng-if="dax_1.moving_averages === 'neutral'">{{dax_1.moving_averages | uppercase}}</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-success btn-xs" data-ng-if="dax_1.technical_indicators === 'buy'">{{dax_1.technical_indicators | uppercase}}</button>
                        <button type="button" class="btn btn-success btn-xs" data-ng-if="dax_1.technical_indicators === 'strong buy'">{{dax_1.technical_indicators | uppercase}}</button>
                        <button type="button" class="btn btn-danger btn-xs" data-ng-if="dax_1.technical_indicators === 'sell'">{{dax_1.technical_indicators | uppercase}}</button>
                        <button type="button" class="btn btn-danger btn-xs" data-ng-if="dax_1.technical_indicators === 'strong sell'">{{dax_1.technical_indicators | uppercase}}</button>
                        <button type="button" class="btn btn-default btn-xs" data-ng-if="dax_1.technical_indicators === 'neutral'">{{dax_1.technical_indicators | uppercase}}</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
  </section>
