<section style="margin-top:100px;">
    <div class="container">
        <ul class="tabs nav navbar-nav navbar-left">
            <li>
                <a ui-sref="60" class="active">DOX</a>
            </li>
            <li>
                <a ui-sref="300" >DOW</a>
            </li>
        </ul>    
       <table class="table">
            <thead>
                <tr>
                    <th>
                        TIME
                    </th>
                    <th>
                        SUMMARY
                    </th>
                    <th>
                        MOVING AVERAGES
                    </th>
                    <th>
                        TECHNICAL INDICATORS
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="active" data-ng-repeat="dax_1 in dax_1s | orderBy: 'id' : 'reverse'">
                    <th>
                        {{dax_1.created_on | date: 'h:mm a'}}
                    </th>
                    <td>
                        <button type="button" class="btn btn-success btn-xs" data-ng-if="dax_1.summary === 'buy'">{{dax_1.summary | uppercase}}</button>
                        <button type="button" class="btn btn-success btn-xs" data-ng-if="dax_1.summary === 'strong buy'">{{dax_1.summary | uppercase}}</button>
                        <button type="button" class="btn btn-danger btn-xs" data-ng-if="dax_1.summary === 'sell'">{{dax_1.summary | uppercase}}</button>
                        <button type="button" class="btn btn-danger btn-xs" data-ng-if="dax_1.summary === 'strong sell'">{{dax_1.summary | uppercase}}</button>
                        <button type="button" class="btn btn-default btn-xs" data-ng-if="dax_1.summary === 'neutral'">{{dax_1.summary | uppercase}}</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-success btn-xs" data-ng-if="dax_1.moving_averages === 'buy'">{{dax_1.moving_averages | uppercase}}</button>
                        <button type="button" class="btn btn-success btn-xs" data-ng-if="dax_1.moving_averages === 'strong buy'">{{dax_1.moving_averages | uppercase}}</button>
                        <button type="button" class="btn btn-danger btn-xs" data-ng-if="dax_1.moving_averages === 'sell'">{{dax_1.moving_averages | uppercase}}</button>
                        <button type="button" class="btn btn-danger btn-xs" data-ng-if="dax_1.moving_averages === 'strong sell'">{{dax_1.moving_averages | uppercase}}</button>
                        <button type="button" class="btn btn-default btn-xs" data-ng-if="dax_1.moving_averages === 'neutral'">{{dax_1.moving_averages | uppercase}}</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-success btn-xs" data-ng-if="dax_1.technical_indicators === 'buy'">{{dax_1.technical_indicators | uppercase}}</button>
                        <button type="button" class="btn btn-success btn-xs" data-ng-if="dax_1.technical_indicators === 'strong buy'">{{dax_1.technical_indicators | uppercase}}</button>
                        <button type="button" class="btn btn-danger btn-xs" data-ng-if="dax_1.technical_indicators === 'sell'">{{dax_1.technical_indicators | uppercase}}</button>
                        <button type="button" class="btn btn-danger btn-xs" data-ng-if="dax_1.technical_indicators === 'strong sell'">{{dax_1.technical_indicators | uppercase}}</button>
                        <button type="button" class="btn btn-default btn-xs" data-ng-if="dax_1.technical_indicators === 'neutral'">{{dax_1.technical_indicators | uppercase}}</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="page-nation">
            <ul class="pagination pagination-large">
            <li class="disabled"><span><</span></li>
            <li class="active"><span>Today</span></li>
            <li><a href="#">Tomorrow</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">6</a></li>
            <li><a href="#">7</a></li>
            <li><a href="#">8</a></li>
            <li><a href="#">9</a></li>
            <li class="disabled"><span>...</span></li><li>
            <li><a rel="next" href="#">></a></li>
            </ul>
        </div>
    </div>
  </section>
  
