<ion-view view-title='<img class="title-image" src="img/logo.svg" />'>
  <ion-content class="padding">
      <div class="list list-inset">
          <label class="item">
              <button class="button  button-block button-calm" ng-click="facebookLogin()">Login with Facebook</button>
          </label>
          <label class="item">
            <button class="button button-block button-calm" ng-click="googlelogin()">Login with Google</button>
          </label>
      </div>
      <h4 style="margin-top:15px;text-align: center;">----- OR -----</h4>
      <form name="loginForm"  ng-submit="loginForm.$valid && login(data)" novalidate>
        <div class="list list-inset">
            <label class="item">
                <input type="text" placeholder="Email" ng-model="data.user_email" style="width: 100%;" required/>
            </label>
            <label class="item">
                <input type="password" placeholder="Password" ng-model="data.user_password" style="width: 100%;" required/>
            </label>
        </div>
        <button class="button button-block button-calm">Login</button>
      </form>
      <div style="text-align: center;"><a ng-href="#/app/register">Don't have an account yet?</a></div>
      <div style="text-align: center;"><h4>Sign Up</h4></div>
      <div style="text-align: center;"><label class="padding">Forgot Password?</label></div>
  </ion-content>
</ion-view>