<table class="table"  data-ng-init="usfutureData('period300')">
     <thead>
         <tr>
             <th>
                 TIME
             </th>
             <th>
                 MOVING AVERAGES
             </th>
             <th>
                 TECHNICAL INDICATORS
             </th>
             <th>
                 SUMMARY
             </th>
             <th>
                 VALUE
             </th>
         </tr>
     </thead>
     <tbody>
         <tr class="active" data-ng-repeat="usfuture_5 in usfuture_5s | orderBy: 'created_on' : 'reverse'">
             <th>
                 {{usfuture_5.created_on | date: 'h:mm a'}}
             </th>
             <td>
                 <button type="button" class="btn btn-success btn-xs" data-ng-if="usfuture_5.moving_averages === 'buy'">{{usfuture_5.moving_averages | uppercase}}</button>
                 <button type="button" class="btn btn-success btn-xs" data-ng-if="usfuture_5.moving_averages === 'strong buy'">{{usfuture_5.moving_averages | uppercase}}</button>
                 <button type="button" class="btn btn-danger btn-xs" data-ng-if="usfuture_5.moving_averages === 'sell'">{{usfuture_5.moving_averages | uppercase}}</button>
                 <button type="button" class="btn btn-danger btn-xs" data-ng-if="usfuture_5.moving_averages === 'strong sell'">{{usfuture_5.moving_averages | uppercase}}</button>
                 <button type="button" class="btn btn-default btn-xs" data-ng-if="usfuture_5.moving_averages === 'neutral'">{{usfuture_5.moving_averages | uppercase}}</button>
             </td>
             <td>
                 <button type="button" class="btn btn-success btn-xs" data-ng-if="usfuture_5.technical_indicators === 'buy'">{{usfuture_5.technical_indicators | uppercase}}</button>
                 <button type="button" class="btn btn-success btn-xs" data-ng-if="usfuture_5.technical_indicators === 'strong buy'">{{usfuture_5.technical_indicators | uppercase}}</button>
                 <button type="button" class="btn btn-danger btn-xs" data-ng-if="usfuture_5.technical_indicators === 'sell'">{{usfuture_5.technical_indicators | uppercase}}</button>
                 <button type="button" class="btn btn-danger btn-xs" data-ng-if="usfuture_5.technical_indicators === 'strong sell'">{{usfuture_5.technical_indicators | uppercase}}</button>
                 <button type="button" class="btn btn-default btn-xs" data-ng-if="usfuture_5.technical_indicators === 'neutral'">{{usfuture_5.technical_indicators | uppercase}}</button>
             </td>
             <td>
                 <button type="button" class="btn btn-success btn-xs" data-ng-if="usfuture_5.summary === 'buy'">{{usfuture_5.summary | uppercase}}</button>
                 <button type="button" class="btn btn-success btn-xs" data-ng-if="usfuture_5.summary === 'strong buy'">{{usfuture_5.summary | uppercase}}</button>
                 <button type="button" class="btn btn-danger btn-xs" data-ng-if="usfuture_5.summary === 'sell'">{{usfuture_5.summary | uppercase}}</button>
                 <button type="button" class="btn btn-danger btn-xs" data-ng-if="usfuture_5.summary === 'strong sell'">{{usfuture_5.summary | uppercase}}</button>
                 <button type="button" class="btn btn-default btn-xs" data-ng-if="usfuture_5.summary === 'neutral'">{{usfuture_5.summary | uppercase}}</button>
             </td>
             <td>
                 <button type="button" class="btn btn-info btn-sm" data-ng-if="usfuture_5.value">{{usfuture_5.value}}</button>
             </td>
             <td>
                 <button type="button" class="btn btn-success btn-xs" data-ng-if="usfuture_5.change_type === 'positive'">{{usfuture_5.change_type | uppercase}}</button>
                 <button type="button" class="btn btn-danger btn-xs" data-ng-if="usfuture_5.change_type === 'negative'">{{usfuture_5.change_type | uppercase}}</button>
             </td>
             <td>
                 <button type="button" class="btn btn-success btn-xs" data-ng-if="usfuture_5.signal_strength === 'correct'">{{usfuture_5.signal_strength | uppercase}}</button>
                 <button type="button" class="btn btn-danger btn-xs" data-ng-if="usfuture_5.signal_strength === 'wrong'">{{usfuture_5.signal_strength | uppercase}}</button>
             </td>
         </tr>
     </tbody>
 </table>
