<ion-view view-title="5 MINUTE" data-ng-init="daxData('period300')" >
	<ion-content scroll="true" has-bouncing="true">
    <div class="list">
      <div class="row item item-divider" data-ng-if="dax_5_average">
        <div class="col-50">ACCURACY: {{dax_5_average | limitTo: 5}}%</div>
        <div class="col-50"><ion-toggle style="background-color: #F5F5F5;" ng-model="pushNotification.checked">Start Notify</ion-toggle></
        </div>
      </div>
      <div class="row item item-divider">
        <div class="col">Time</div>
        <div class="col">Summary</div>
        <div class="col">Value</div>
        <div class="col">Signal</div>
      </div>
      <div class="row item"   data-ng-repeat="dax_5 in dax_5s | orderBy: 'created_on' : 'reverse'">
        <div class="col"> {{dax_5.created_on | date: 'h:mm a'}}</div>
        <div class="col">
          <span  data-ng-if="dax_5.summary === 'buy'">{{dax_5.summary | uppercase}}</span>
          <span  class="btn btn-success btn-xs" data-ng-if="dax_5.summary === 'strong buy'">{{dax_5.summary | uppercase}}</span>
          <span data-ng-if="dax_5.summary === 'sell'">{{dax_5.summary | uppercase}}</span>
          <span data-ng-if="dax_5.summary == 'strong sell'">{{dax_5.summary | uppercase}}</span>
          <span data-ng-if="dax_5.summary == 'neutral'">{{dax_5.summary | uppercase}}</span>
        </div>
        <div class="col">
          <span data-ng-if="dax_5.value">{{dax_5.value}}</span>
        </div>
        <div class="col">
          <span data-ng-if="dax_5.change_type == 'positive'">{{dax_5.change_type | uppercase}}</span>
          <span data-ng-if="dax_5.change_type == 'negative'">{{dax_5.change_type | uppercase}}</span>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>

