<ion-view view-title='<img class="title-image" src="img/logo.svg" />'>
  <ion-content class="padding">
      <div class="list list-inset">
          <label class="item">
              <button class="button  button-block button-calm" ng-click="facebookSignIn()">Login with Facebook</button>
              <button class="button button-block button-calm">Login with Google</button>
          </label>
      </div>
      <h4 style="margin-top:15px;text-align: center;">----- OR -----</h4>
      <div class="list list-inset">
          <label class="item">
              <input type="text" placeholder="Email" ng-model="data.Email" style="width: 100%;" />
          </label>
          <label class="item">
              <input type="password" placeholder="Password" ng-model="data.password" style="width: 100%;" />
          </label>
      </div>
      <button class="button button-block button-calm">Login</button>
      <div style="text-align: center;"><label class="padding">Don't have an account yet?</label></div>
      <div style="text-align: center;"><h4>Sign Up</h4></div>
      <div style="text-align: center;"><label class="padding">Forgot Password?</label></div>
  </ion-content>
</ion-view>