<ion-view view-title='<img class="title-image" src="img/logo.svg" />'>
  <ion-content ng-controller="PlaylistCtrl">
  <div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
    <div class="tabs">
      <a class="tab-item active" href="#">      
        DAX
      </a>
      <a class="tab-item" href="#">
        DOW
      </a>
      <a class="tab-item" href="#">
        US FEATURES
      </a>
      <a class="tab-item" href="#">
        HSE
      </a>
      <a class="tab-item" href="#">
        BIST 100
      </a>
      <a class="tab-item" href="#">
        CHINA A50
      </a>
      <a class="tab-item" href="#">
        HANG SENG
      </a>
      <a class="tab-item" href="#">
        NIFTY 50
      </a>
      <a class="tab-item" href="#">
        NASDAQ
      </a>
      <a class="tab-item" href="#">
        CAC 40
      </a>
    </div>
  </div>
    <div class="card">
        <div class="item item-divider">
            A line chart
        </div>
        <div class="item item-text-wrap">
            <canvas id="line" class="chart chart-line" data="data" labels="labels" legend="true" series="series" options="{showTooltips: false}"></canvas>
        </div>
    </div>
    <div class="card">
        <div class="item item-divider">
            A bar chart
        </div>
        <div class="item item-text-wrap">
            <canvas id="bar" class="chart chart-bar" data="data" labels="labels" legend="true" series="series" options="{showTooltips: false}"></canvas>
        </div>
    </div>
  </ion-content>
</ion-view>
