<ion-view view-title="5 MINUTE" data-ng-init="usfeatureData('period300')">
  <ion-content scroll="true" has-bouncing="true">
    <div class="list">
      <div class="row item item-divider" data-ng-if="usfeature_1_average != null || usfeature_1_average != undefined">
        <div class="col-50 padding">ACCURACY: {{usfeature_1_average | limitTo: 5}}%</div>
        <div class="col-50"><ion-toggle style="background-color: #F5F5F5;" ng-change="subscribe(strtNotify, 'five')" ng-model="strtNotify">Start Notify</ion-toggle></
        </div>
      </div>
    </div>      
    <div class="list">
      <div class="row item item-divider">
        <div class="col">change</div>
        <div class="col">Summary</div>
        <div class="col">Value</div>
        <div class="col">oneyearreturn</div>
      </div>
      <div class="row item"  data-ng-repeat="usfeature_1 in usfeature_1s | orderBy: '_id' : 'reverse'">
        <div class="col"> {{usfeature_1.change}}</div>
        <div class="col">
          <span  class="positive">{{usfeature_1.five | uppercase}}</span>
        </div>
        <div class="col">
          <span data-ng-if="usfeature_1.presentvalue">{{usfeature_1.presentvalue}}</span>
        </div>
        <div class="col">
          <span>{{usfeature_1.oneyearreturn}}</span>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>

